body {
    font-family: 'Montserrat', 'Helvetica';
    text-align: center;
    margin: 0;
}

h1 {
    color: #bc3b69;
}

h2 {
    display: inline-block;
    color: #bc3b69;
}

section {
    margin-bottom: 100px;
    position: relative;
}

.code {
    font-family: 'Courier new';
    background-color: lightgray;
    padding: 0 5px;
}

.code.block {
    display: inline-block;
    text-align: left;
    padding: 20px;
}

.container-example {
    height: 300px;
    background-color: darkcyan; 
}

@media (max-width: 900px) {
    .one {
        background-color: darkolivegreen;
    }
}

@media (max-width: 900px) {
    .two {
        background-color: darkolivegreen;
    }
}

@media (max-width: 800px) {
    .two {
        background-color: darksalmon;
    }
}

@media (min-width: 900px) {
    .three {
        background-color: darkgoldenrod;
    }
}


@media (min-width: 900px) {
    .four {
        background-color: darkred;
    }
}

@media (min-width: 1000px) {
    .four {
        background-color: chocolate;
    }
}

@media (min-width: 800px) {
    .five {
        background-color: lawngreen;
    }
}

@media (max-width: 1100px) {
    .five {
        background-color: lightcoral;
    }
}

@media (min-width: 800px) and (max-width: 1100px) {
    .six {
        background-color: lightcoral;
    }
}

@media (orientation: landscape) {
    .seven {
        background-color: hotpink;
    }
}

@media (orientation: portrait) {
    .seven {
        background-color: indigo;
    }
}

.box-1 {
    background-color: goldenrod;
    width: 20%;
    height: 400px;
    float: left;
}
.box-2 {
    background-color: maroon;
    width: 40%;
    height: 400px;
    float: left;
}
.box-3 {
    background-color: mediumpurple;
    width: 25%;
    height: 400px;
    float: left;
}
.box-4 {
    background-color: mediumturquoise;
    width: 15%;
    height: 400px;
    float: left;
}
.box-5 {
    background-color: mediumseagreen;
    height: 200px;
    clear: both;
}

@media (max-width: 1100px) {
    .box-2 {
        width: 60%;
    }
    .box-3 {
        width: 20%;
    }
    .box-4 {
        width: 100%;
        height: 150px;
        float: none;
        clear: both;
    }    
}

@media (max-width: 800px) {
    .box-1 {
        width: 30%;
        float: right;
    }
    .box-2 {
        width: 70%;
    }
    .box-3 {
        width: 100%;
        height: 150px;
        float: none;
        clear: both;
    }
    .box-4 {
        width: 100%;
        height: 150px;
        float: none;
        clear: both;
    }    
}

@media (max-width: 600px) {
    .box-1 {
        width: 100%;
        clear: both;
        float: none;
        height: 100px;
    }
    .box-2 {
        width: 100%;
    }

}