<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Montserrat);</style>
</head>
<body>
    <h1>Layout (6/16)</h1>
    <div class="links">
        <a href="layout-5.html" class="previous">Anterior</a>
        <a href="layout-7-1.html" class="next">Siguiente</a>
    </div>
    <br>
    <br>
    <p>Dentro de cada fila, podemos finalmente tres elementos cada uno, los cuáles están flotados a izquierda, derecha y centrado.</p>
    <br>
    <div class="code block">
        &lt;header&gt;<br>
            &emsp;&lt;div class="top"&gt; <br>
                &emsp;&emsp;&lt;div class="top-links"&gt; <br>
                    &emsp;&emsp;&emsp;&lt;div class="search-container"&gt;&lt;/div&gt; <br>
                    &emsp;&emsp;&emsp;&lt;div class="language-links"&gt;&lt;/div&gt; <br>
                    &emsp;&emsp;&emsp;&lt;div class="login-container"&gt;&lt;/div&gt; <br>
                &emsp;&emsp;&lt;/div&gt; <br>
                &emsp;&emsp;&lt;div class="logo-container"&gt; <br>
                    &emsp;&emsp;&emsp;&lt;p class="date"&gt;&lt;/p&gt; <br>
                    &emsp;&emsp;&emsp;&lt;img class="logo"&gt; <br>
                    &emsp;&emsp;&emsp;&lt;p class="current"&gt;&lt;/p&gt; <br>
                &emsp;&emsp;&lt;/div&gt; <br>
            &emsp;&lt;/div&gt; <br>
            &emsp;&lt;nav&gt; <br>
                &emsp;&emsp;&lt;ul&gt; <br>
                    &emsp;&emsp;&emsp;&lt;li&gt;&lt;/li&gt; <br>
                    &emsp;&emsp;&emsp;&lt;li&gt;&lt;/li&gt; <br>
                    &emsp;&emsp;&emsp;&lt;li&gt;&lt;/li&gt; <br>
                &emsp;&emsp;&lt;/ul&gt; <br>
            &emsp;&lt;/nav&gt; <br>
        &lt;/header&gt; <br>
    </div>
    <br>
    <img src="../../img/layout-imgs/layout-6a.jpg" alt="">
    <br>
    <br>
</body>
</html>