<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Montserrat);</style>
</head>
<body>
    <h1>Layout (11/16)</h1>
    <div class="links">
        <a href="layout-7.html" class="previous">Anterior</a>
        <a href="layout-9.html" class="next">Siguiente</a>
    </div>
    <br>
    <br>
    <p>Las noticias principales están divididas en grandes bloques de secciones, como podemos notar. Vamos a darle a estas secciones, si bien son distintas 
        entre sí, sólo difieren en su contenido, por lo que podemos darle la misma clase para poder darles estilos similares, como borde, padding, etc.
    </p>
    <br>
    <div class="code block">
        &lt;div class="content"&gt; <br>
            &emsp;&lt;main&gt; <br>
                &emsp;&emsp;&lt;section class="news-container"&gt;&lt;/section&gt; <br>
                &emsp;&emsp;&lt;section class="news-container"&gt;&lt;/section&gt; <br>
                &emsp;&emsp;&lt;section class="news-container"&gt;&lt;/section&gt; <br>
                &emsp;&emsp;&lt;section class="news-container"&gt;&lt;/section&gt; <br>
                &emsp;&emsp;&lt;section class="news-container"&gt;&lt;/section&gt; <br>
                &emsp;&emsp;&lt;section class="news-container"&gt;&lt;/section&gt; <br>
            &emsp;&lt;/main&gt; <br>
        &lt;/div&gt; <br>
    </div>
    <br>
    <img src="../../img/layout-imgs/layout-8.jpg" alt="">
</body>
</html>