<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Montserrat);</style>
</head>
<body>
    <h1>Layout (3/16)</h1>
    <div class="links">
        <a href="layout-2.html" class="previous">Anterior</a>
        <a href="layout-4.html" class="next">Siguiente</a>
    </div>
    <br>
    <br>
    <p>Ya tenemos definida nuestra estructura general. Comencemos ahora a analizar y diseccionar cada una de estas secciones por separado. La primera de ellas es el header.</p>
    <img src="../../img/layout-imgs/layout-3a.jpg" alt="">
</body>
</html>