<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Montserrat);</style>
</head>
<body>
    <h1>Layout (15/16)</h1>
    <div class="links">
        <a href="layout-11.html" class="previous">Anterior</a>
        <a href="layout-13.html" class="next">Siguiente</a>
    </div>
    <br>
    <br>
    <p>Por último, subdividimos cada una de las secciones como ya venimos haciendo.</p>
    <br>
    <div class="code block">
        &lt;div class="content"&gt; <br>
            &emsp;&lt;aside&gt; <br>
                &emsp;&emsp;&lt;section class="aside-section"&gt; <br>
                    &emsp;&emsp;&emsp;&lt;div class="left-column"&gt;&lt;/div&gt; <br>
                    &emsp;&emsp;&emsp;&lt;div class="right-column"&gt;&lt;/div&gt; <br>
                &emsp;&emsp;&lt;/section&gt;<br>
                &emsp;&emsp;&lt;section class="aside-section"&gt; <br>
                    &emsp;&emsp;&emsp;&lt;div class="left-column"&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                    &emsp;&emsp;&emsp;&lt;/div&gt; <br>
                    &emsp;&emsp;&emsp;&lt;div class="right-column"&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&lt;article&gt;&lt;/article&gt; <br>
                    &emsp;&emsp;&emsp;&lt;/div&gt; <br>
                &emsp;&emsp;&lt;/section&gt;<br>
                &emsp;&emsp;&lt;section class="aside-section"&gt; <br>
                    &emsp;&emsp;&emsp;&emsp;&lt;article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&lt;div class="left-column"&gt;&lt;/div&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&lt;div class="right-column"&gt;&lt;/div&gt; <br>
                    &emsp;&emsp;&emsp;&emsp;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&lt;div class="left-column"&gt;&lt;/div&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&lt;div class="right-column"&gt;&lt;/div&gt; <br>
                    &emsp;&emsp;&emsp;&emsp;&lt;/article&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&lt;div class="left-column"&gt;&lt;/div&gt; <br>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&lt;div class="right-column"&gt;&lt;/div&gt; <br>
                    &emsp;&emsp;&emsp;&emsp;&lt;/article&gt; <br>
                &emsp;&emsp;&lt;/section&gt;<br>
            &emsp;&lt;/aside&gt; <br>
        &lt;/div&gt; <br>
    </div>
    <br>
    <img src="../../img/layout-imgs/layout-12.jpg" alt="">
</body>
</html>