<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Montserrat);</style>
</head>
<body>
    <h1>Layout (1/16)</h1>
    <div class="links">
        <a href="../../index.html" class="previous">Anterior</a>
        <a href="layout-2.html" class="next">Siguiente</a>
    </div>
    <br>
    <br>
    <p>Cuando analizamos una página para determinar su <b>layout</b> o distribución de elementos y poder empezar a estructurar nuestro <b>html</b>,
    tenemos que comenzar a pensar <b>cajas</b> que contienen <b>columnas</b>. Cada una de estas <b>cajas</b> es un <span class="code">div</span> contenedor, y
    cada una de sus columnas es a la vez un elemento <span class="code">div</span> que o bien está <b>flotado</b>, o bien está puesto en <b>línea</b>, o bien está
    distribuido mediante <b>flexbox</b>.</p>
    <img src="../../img/layout-imgs/layout-1.jpg" alt="">
</body>
</html>