<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Montserrat);</style>
</head>
<body>
    <h1>Layout (7/16)</h1>
    <div class="links">
        <a href="layout-6.html" class="previous">Anterior</a>
        <a href="layout-7-2.html" class="next">Siguiente</a>
    </div>
    <br>
    <br>
    <p>Pasemos ahora a la sección de <b>noticias menores</b>, que está debajo del header, y contenida de nuestro <span class="code">div</span> con clase <span class="code">content</span></p>
    <img src="../../img/layout-imgs/layout-4b.jpg" alt="">
</body>
</html>