<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Montserrat);</style>
</head>
<body>
    <h1>Layout (8/16)</h1>
    <div class="links">
        <a href="layout-7-1.html" class="previous">Anterior</a>
        <a href="layout-7-3.html" class="next">Siguiente</a>
    </div>
    <br>
    <br>
    <p>Inmediatamente notamos que está dividido en 4 columnas. Estas columnas son iguales, por lo que podemos ponerle la misma clase.</p>
    <br>
    <div class="code block">
        &lt;div class="content"&gt; <br>
            &emsp;&lt;div class="small-news"&gt; <br>
                &emsp;&emsp;&lt;div class="small-news-col"&gt;&lt;/div&gt; <br>
                &emsp;&emsp;&lt;div class="small-news-col"&gt;&lt;/div&gt; <br>
                &emsp;&emsp;&lt;div class="small-news-col"&gt;&lt;/div&gt; <br>
                &emsp;&emsp;&lt;div class="small-news-col"&gt;&lt;/div&gt; <br>
            &emsp;&lt;/div&gt; <br>
        &lt;/div&gt; <br>
    </div>
    <br>
    <img src="../../img/layout-imgs/layout-5b.jpg" alt="">
</body>
</html>